.errText {
  color: #FF8F8E;
  font-size: 15px;
}

.header {
  background: rgb(238, 180, 34);
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  color: white;
}

.submit {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  border-radius: 3px;
	background-color: #0099ff;
	border: none;
	color: white;
	transition-duration: 0.4s;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 150px;
}

/*different color scheme for volunterring contact*/
#submitBtn, #volHeader {
  background:  rgb(72, 118, 255);
}
#submitBtn:hover{
  background: black;
}

.back {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  border-radius: 3px;
	background-color: dimgray;
	border: none;
	color: white;
	transition-duration: 0.4s;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 150px;
}

.submit:hover {
  background: black;
}

.back:hover{
  background: black;
}

#event{
  width: 175px;
}
