.header {
  background: rgb(238, 180, 34);
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  color: white;
}

.home {
  margin-top: 20px;
  line-height: 70px;
  padding: 10px 10px;
  background: rgb(238, 180, 34); /*yellow*/
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  color: white;
  border: none;
  text-decoration: none;
}

/*different color scheme for volunterring contact*/
#vol, #volHeader {
  background:  rgb(72, 118, 255);
}
#vol:hover{
  background: black;
}


.button {
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  border-radius: 3px;
	background-color: dimgray;
	border: none;
	color: white;
	transition-duration: 0.4s;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 150px;
}

#event {
  width: 175px;
}

#home {
  background-color: #0099ff;

}
